@import url('https://fonts.googleapis.com/css?family=Open+Sans|Chewy');
@import "../bower/bower_components/bootstrap/less/bootstrap.less";
//@import "../material-ui/assets/css/material-kit.css";

//Google font api classes
.material-icons.orangeC00 { color: #fbcc00; }
.material-icons.md-18 { font-size: 18px!important; }
.material-icons.md-24 { font-size: 24px!important; }
.material-icons.md-36 { font-size: 36px!important; }
.material-icons.md-48 { font-size: 48px!important; }


body{
  /*font-family: 'Open Sans', sans-serif;
  font-size: 16px;*/
}

.fix-to-top {
  position: fixed !important;
  margin-top: 0 !important;
  ;top: 0;
}


/*********************************************************************************/
/* Navigation Customization                                                      */
/*********************************************************************************/
@bgDefault      : rgba(78, 103, 177, 0.9);
@bgHighlight    : rgb(173, 177, 213);
@colDefault     : #000000;
@colBanner      : #02beff;;
@colHighlight   : #fdfdff;
@streakhighlight: #02beff;
@customMenuTheme       : true;

.navbar-unfix-top {
  .navbar-fixed-top;
  position: relative;
}

.ddm() when (@customMenuTheme) {
  > .dropdown-menu {
    background-color: @bgDefault;
    display:block;
    > li > a {
      color: @colHighlight;
      padding: 5px 20px;
      box-shadow: none;
      &:hover,  &:focus {
        color: #fdfdff;;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight;}}}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 1px!important;
}

.navbar-wrapper {
  position: relative;
  z-index: 20;
  width: 70%;
  float: right;
  margin: 30px 15px 25px 0;
  min-height: 32px;
  background: transparent;
}
.navbar,.navbar-default,.navbar-inverse{
  background-color: @bgDefault !important;
  border: 1px;
  .navbar-brand {
    >a>img{
      left: -50%;
      position: relative;
      top: 46px;
      height: 115px;
      -webkit-filter: drop-shadow(2px 1px 3px rgba(118, 135, 255, 0.98));
      -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
       filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
    }
    font-family: 'Chewy', serif;
    font-size: 30px;
    color: @colBanner !important;
    text-shadow: 3px 3px 10px #443333;
    &:hover, &:focus {
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li{
      border-top: 4px solid @bgDefault;
      border-color: transparent;
      > a {
        //border-top: 3px @streakhighlight;
        color: @colHighlight;
        &:focus, &:hover, &.open {
          color: @colHighlight;
          background-color: @bgHighlight;
        }
      }
      .ddm
    }
   > :hover, .active {
      border-top: 4px solid @streakhighlight;
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        //background-color: @bgHighlight;
        background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
.container-fluid .navbar-collapse{
  margin-right: 10px;
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
}

a.scroll-arrow, div.scroll_arrow_left, div.scroll_arrow_right, a.scroll_arrow_down{
    font-size: 28px;
    color: @streakhighlight;
    width: 42px;
    line-height: 52px;
    border-radius: 50%;
    height: 42px;
    border: 3px solid @streakhighlight;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 1029;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: .9;
  }
div.scroll_arrow_left {
  left: 5%;
  top: 45%;
  cursor: pointer;
}

div.scroll_arrow_right {
  top: 45%;
  left: 95%;
  cursor: pointer;
}

div.scroll_arrow_left i {
  width: 100%;
  top: 12%;
  position: relative;
}

div.scroll_arrow_right i {
   width: 100%;
   top: 12%;
   position: relative;
 }

a.scroll_arrow_down i {
  width: 100%;
  top: 12%;
  position: relative;
}

/*********************************************************************************/
/* Navigation Customization                                                      */
/*********************************************************************************/

@media (max-width: 767px) {
  .navbar,.navbar-default,.navbar-inverse{
    position: relative;
    background-color: @bgDefault !important;
    border: 1px;
    margin: 0px;
    .navbar-brand {
      >img{
        left: -50%;
        position: relative;
        top: 0;
        height: 115px;
      }
      font-family: 'Chewy', serif;
      font-size: 30px;
      color: @colBanner !important;
      text-shadow: 3px 3px 10px #443333;
      &:hover, &:focus {
        color: @colHighlight; }}
    .navbar-text {
      color: @colDefault; }
    .navbar-nav {
      > li{
        border-top: 4px solid @bgDefault;
        border-color: transparent;
        > a {
          border-top: 0px;
          color: @colHighlight;
          &:focus, &:hover, &.open {
            color: @colHighlight;
            background-color: @bgHighlight;
          }
        }
        .ddm
      }
      > :hover, .active {
        border-top: none;
        > a, > a:hover, > a:focus {
          color: @colHighlight;
          //background-color: @bgHighlight;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
    .navbar-toggle {
      border-color: @bgHighlight;
      &:hover, &:focus {
        background-color: @bgHighlight; }
      .icon-bar {
        background-color: @colDefault; }}
    .navbar-collapse {
      overflow-y: visible;
    }
    .navbar-form {
      border-color: @colDefault; }
    .navbar-link {
      color: @colDefault;
      &:hover {
        color: @colHighlight; }}}
}

.index-page-custom .wrapper > .header {
  height: 90vh;
}
.index-page-custom .brand {
  margin-top: 30vh;
  color: #FFFFFF;
  text-align: center;
}
.index-page-custom .brand h1 {
  font-size: 4.8em;
  font-weight: 600;
}
.index-page-custom .brand h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  max-width: 400px;
  margin: 10px auto 0;
}
.index-page-custom .section-basic {
  padding-top: 15px;
}
.index-page-custom .header-filter:after {
  background: rgba(53, 161, 5, 0.56);
  background: linear-gradient(45deg, rgba(2, 84, 22, 0.88) 0%, rgba(40, 150, 15, 0.45) 100%);
  background: -moz-linear-gradient(135deg, rgba(2, 84, 22, 0.88) 0%, rgba(40, 150, 15, 0.45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(2, 84, 22, 0.88) 0%, rgba(40, 150, 15, 0.45) 100%);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper {
  }
  .navbar-wrapper .navbar {
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}




/*********************************************************************************/
/* Background                                                                    */
/*********************************************************************************/
.background-container
{
  background-position: left top;
  background: url(../img/main_bgnd.JPG) no-repeat bottom center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 50%;
  position: fixed;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

/*********************************************************************************/
/* CUSTOMIZE THE CAROUSEL                                                        */
/*********************************************************************************/
@carouselHeight     : 100vh;
.carousel-container{
  position: relative;
  width: 100%;
  height: @carouselHeight;
}

/* Carousel base class */
.carousel {
  min-width: 100%;
  margin-bottom: 60px;
  height: @carouselHeight;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
  height: @carouselHeight;
}
.carousel-inner > .item > img {
  //position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: @carouselHeight;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/





#background-container:before
{
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(64,64,64,0.125);
}

.captionIntro {

  position: absolute;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  left: 0;
  right: 0;
  top: 38%;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 3px 3px 10px #443333;
}

.captionIntro {
  > h2 {
      font-size: 35px;
      line-height: 16px;
      color: rgb(239, 237, 237);
      font-weight: 400;
      margin-bottom: 20px;
      font-family: "Slim-Joe","Helvetica Neue", "Arial";
  }
}

.captionIntro .textIntro1 {
  display: block;
  font-size: 24px;
  line-height: 48px;
  margin-top: -4px;
}

.mapleBrand{
  font-family: 'Chewy', serif;
  font-size: 30px;
  color: @colBanner !important;
  text-shadow: 3px 3px 10px #443333;
}