<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking Property</title>
</head>
<body>
	<div class="container" style="padding-top: 100px;">
		<div class="row" style="line-height: 4.2">
			<div class="col-sm-2 col-md-2 text-center">
				<label>Check In </label>
			</div>
			<div class="col-sm-3 col-md-3 text-center"
				style="border-right: 1px solid rgba(34, 36, 38, .15);">
				<div class="ui icon input">
					<i class="calendar icon"></i> <input type="text"
						class="datepicker form-control" id="checkindate" readonly
						placeholder="Checkin Date ...">
				</div>
			</div>
			<div class="col-sm-2 col-md-2 text-center">
				<label>Check Out </label>
			</div>
			<div class="col-sm-3 col-md-3 text-center">
				<div class="ui icon input">
					<i class="calendar icon"></i> <input type="text"
						class="datepicker form-control" id="checkoutdate" readonly
						placeholder="Checkout Date ...">
				</div>
			</div>
			<div class="col-sm-2 col-md-2 text-center">
				<button class="png ui basic blue button" ng-click="">
					<i class="icon search"></i> Search Rooms
				</button>
			</div>
		</div>
		<div class="ui divider"></div>
	</div>
</body>
</html>