<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking Property</title>
</head>
<body>
	<div class="container" style="padding-top:100px;">
		<div class="ui icon input">
			<i class="calendar icon"></i> 
			<input type="text" class="datepicker form-control" id="checkindate"
			readonly placeholder="Checkin Date ...">
		</div>
		<div class="ui icon input">
			<i class="calendar icon"></i> 
			<input type="text" class="datepicker form-control" id="checkoutdate"
			readonly placeholder="Checkout Date ...">
		</div>
	</div>
	
</body>
</html>