<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /** Email template starts**/
        .email_body  {
            margin-top: 100px;
            padding-top: 47px;
            padding-left: 61px;
            padding-right: 61px;
            padding-bottom: 59px;
            background: rgba(255, 255, 255, 0.26);
            border-radius: 12px;
        }
        .col-sm-12.email_body,
        .col-md-12.email_body{
            min-height: 200px
        }
        .email_content{
            background: #fff;
            padding: 15px 0;
            border-radius: 10px
        }
        .error_email{
            color:  #ff5733 ;
            font-size: 58px;
            border: 3px solid #ff5733;
            border-radius: 31px;
            background: #fff;
            margin-bottom: 14px;
        }
        .success_email{
            color: #2ecc71;
            font-size: 58px;
            border: 3px solid #2ecc71;
            border-radius: 31px;
            background: #fff;
            margin-bottom: 14px;
        }
        /** Email template Ends**/
    </style>
</head>
<body>
<div class="container">
        <div class="email_body col-sm-12 col-md-12 text-center">
            <div class="email_content">
                <i class="material-icons info_email" ng-class="info">info</i>
                <h4>{{message}}</h4>
                <h4 ng-if="login">Click <a href="#/login">Here</a> to login</h4>
            </div>
        </div>
    </div>
</body>
<footer class="footer footer-big footer-color-gray" id="footerTrigger">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info add-animation-stopped animation-1">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Find offers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Discover Projects
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Our Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info add-animation-stopped animation-2">
                    <h5 class="title"> Help and Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    How it works
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms &amp; Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Money Back
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info add-animation-stopped animation-3">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                    The best kit in the market is here, just give it a try and let us...
                                    <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info add-animation-stopped animation-4">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-reddit btn-simple">
                                    <i class="fa fa-google-plus-square"></i> Google+
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            Ã‚Â© 2015 Creative Tim, made with love
        </div>
    </div>
</footer>
</html>