<!DOCTYPE html>
<html lang="en">

<body class = "mui signup-page">
  <div class="wrapper">
    <div class="header header-filter">
      <div class="container">
        <div class="row login-row">
			<form name = "loginForm" class="form" novalidate>
				<span class="login_header">Log in</span>
				<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                    <div class="mui-form-group is-empty">
                      <input data-ng-model="loginDetails.email" type="email" placeholder="Email..." class="mui-form-control" name = "email" required/>
                      <span class="material-input"></span>
                    </div>
                    <div class = "png-input-error">
                      <div ng-show = "loginForm.$submitted" ng-messages="loginForm.email.$error" role="alert">
                        <span ng-show=loginForm.email.$error.required>Enter email used to sign up</span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                    <div class="mui-form-group is-empty">
                      <input data-ng-model="loginDetails.password" type="password" placeholder="Password..."
                             class="mui-form-control" name = "password" required/>
                      <span class="material-input"></span>
                    </div> <div class = "png-input-error">
                      <div ng-show = "loginForm.$submitted" ng-messages="loginForm.password.$error" role="alert">
                        <span ng-show=loginForm.password.$error.required>Enter your password used to sign up</span>
                      </div>
                  </div>

                  </div>
				  <button class="png ui basic red button" data-ng-click="doLogin()"
                            data-ng-disabled="loginForm.$invalid">
                      <i class="icon sign in"></i>Login</button>
			</form>

        </div>
      </div>
    </div>
  </div>
</div>
  <footer class="footer footer-big footer-color-gray" id="footerTrigger">
      <div class="container">
          <div class="row">
              <div class="col-md-2 col-sm-3">
                  <div class="info add-animation-stopped animation-1">
                      <h5 class="title">Company</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#">
                                      Home
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Find offers
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Discover Projects
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Our Portfolio
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      About Us
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-md-3 col-md-offset-1 col-sm-3">
                  <div class="info add-animation-stopped animation-2">
                      <h5 class="title"> Help and Support</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#">
                                      Contact Us
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      How it works
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Terms &amp; Conditions
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Company Policy
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Money Back
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3">
                  <div class="info add-animation-stopped animation-3">
                      <h5 class="title">Latest News</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                      The best kit in the market is here, just give it a try and let us...
                                      <hr class="hr-small">
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <i class="fa fa-twitter"></i>
                                      We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
              <div class="col-md-2 col-md-offset-1 col-sm-3">
                  <div class="info add-animation-stopped animation-4">
                      <h5 class="title">Follow us on</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#" class="btn btn-social btn-facebook btn-simple">
                                      <i class="fa fa-facebook-square"></i> Facebook
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                      <i class="fa fa-dribbble"></i> Dribbble
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="btn btn-social btn-twitter btn-simple">
                                      <i class="fa fa-twitter"></i> Twitter
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="btn btn-social btn-reddit btn-simple">
                                      <i class="fa fa-google-plus-square"></i> Google+
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
          <hr>
          <div class="copyright">
              Ã‚Â© 2015 Creative Tim, made with love
          </div>
      </div>
  </footer>
</body>
</html>