<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking Property</title>
</head>
<body>
	<div class="container" style="padding-top:100px;">
		<h1 th:text="'My Template Heading'">My First Heading</h1>
		<p>Currency Filter <input ng-model="amount" aria-label="amount" format="number" maxlength=9></p>
		<p> <span id="currency-default">{{amount}}</span><br></p>
		<div>
		<object data="{{content}}" type="application/pdf"></object>
		</div>
	</div>
	
</body>
</html>