<!DOCTYPE html>
<html lang="en">

<body class="mui signup-page">
<div class="wrapper">
	<div class="header header-filter">
		<div class="container">
			<div class="row">
				<div class="">
					<div id="login-box">
						<h4 class="login_header" style="margin-top: 12px;width: 100%;float: left;">Sign Up</h4>
						<div class="left_sign">
							<form name="signup" class="form" novalidate>
								<div class="content">
									<div class="input-group">
										<span class="input-group-addon"> <i
												class="material-icons">face</i>
										</span>
										<div class="mui-form-group is-empty"
											 ng-class="{'has-error':signup.firstName.$error.required && signup.$submitted,
	                  'has-success':!signup.firstName.$error.required && signup.$submitted}">
											<input data-ng-model="userDetails.firstName" type="text"
												   class="mui-form-control" placeholder="First Name..."
												   name="firstName" required> <span
												ng-show="!signup.firstName.$error.required && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">thumb_up</i>
											</span> <span
												ng-show="signup.firstName.$error.required && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">error_outline</i>
											</span>
										</div>
										<div class="png-input-error">
											<div ng-show="signup.$submitted"
												 ng-messages="signup.firstName.$error" role="alert">
												<div ng-show=signup.firstName.$error.required>{{signup.firstName.errMsg}}</div>
											</div>
										</div>
									</div>

									<div class="input-group">
										<span class="input-group-addon"> <i
												class="material-icons">face</i>
										</span>
										<div class="mui-form-group is-empty"
											 ng-class="{'has-error':signup.lastName.$error.required && signup.$submitted,
                 'has-success':!signup.lastName.$error.required && signup.$submitted}">
											<input data-ng-model="userDetails.lastName" type="text"
												   class="mui-form-control" placeholder="Last Name..."
												   name="lastName" required> <span
												ng-show="!signup.lastName.$error.required && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">thumb_up</i>
											</span> <span
												ng-show="signup.lastName.$error.required && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">error_outline</i>
											</span>
										</div>
										<div class="png-input-error">
											<div ng-show="signup.$submitted"
												 ng-messages="signup.lastName.$error" role="alert">
												<div ng-show=signup.lastName.$error.required>{{signup.lastName.errMsg}}</div>
											</div>
										</div>
									</div>


									<div class="input-group">
										<span class="input-group-addon"> <i
												class="material-icons">email</i>
										</span>
										<div class="mui-form-group is-empty"
											 ng-class="{'has-error':(signup.email.$error.required || signup.email.$error.custom) && signup.$submitted,
                  'has-success':!signup.email.$error.required && !signup.email.$error.custom && signup.$submitted}">
											<input data-ng-model="userDetails.email" type="email"
												   class="mui-form-control" placeholder="Email..." name="email"
												   ng-change="resetErrors('email')" required> <span
												ng-show="!signup.email.$error.required && !signup.email.$error.custom && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">thumb_up</i>
											</span> <span
												ng-show="(signup.email.$error.required ||signup.email.$error.custom) && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">error_outline</i>
											</span>
										</div>
										<div class="png-input-error">
											<div ng-show="signup.$submitted"
												 ng-messages="signup.email.$error" role="alert">
												<span ng-show=signup.email.$error.required>{{signup.email.errMsg}}</span>
												<span ng-show=signup.email.$error.custom>{{signup.email.errMsg}}</span>
											</div>
										</div>
									</div>

									<div class="input-group">
										<span class="input-group-addon"> <i
												class="material-icons">lock_outline</i>
										</span>
										<div class="mui-form-group is-empty"
											 ng-class="{'has-error':(signup.password.$error.required ||signup.password.$error.custom) && signup.$submitted,
                  'has-success':!signup.password.$error.required && !signup.password.$error.custom && signup.$submitted}">
											<input data-ng-model="userDetails.password" type="password"
												   placeholder="Password..." class="mui-form-control"
												   name="password" ng-change="resetErrors('password')" required />
											<span
													ng-show="!signup.password.$error.required && !signup.password.$error.custom && signup.$submitted"
													class="form-control-feedback"> <i
													class="material-icons">thumb_up</i>
											</span> <span
												ng-show="(signup.password.$error.required ||signup.password.$error.custom) && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">error_outline</i>
											</span>
										</div>
										<div class="png-input-error">
											<div ng-show="signup.$submitted"
												 ng-messages="signup.password.$error" role="alert">
												<div ng-show=signup.password.$error.required>{{signup.password.errMsg}}</div>
												<div ng-show=signup.password.$error.custom>{{signup.password.errMsg}}</div>
											</div>
										</div>
									</div>

									<div class="input-group">
										<span class="input-group-addon"> <i
												class="material-icons">lock_outline</i>
										</span>
										<div class="mui-form-group is-empty"
											 ng-class="{'has-error':(signup.confirmPassword.$error.required ||signup.confirmPassword.$error.custom) && signup.$submitted,
                  'has-success':!signup.confirmPassword.$error.required && !signup.confirmPassword.$error.custom && signup.$submitted}">
											<input data-ng-model="userDetails.confirmPassword"
												   type="password" placeholder="Confirm Password..."
												   class="mui-form-control" name="confirmPassword"
												   ng-change="resetErrors('confirmPassword')" required /> <span
												ng-show="!signup.confirmPassword.$error.required && !signup.confirmPassword.$error.custom && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">thumb_up</i>
											</span> <span
												ng-show="(signup.confirmPassword.$error.required ||signup.confirmPassword.$error.custom) && signup.$submitted"
												class="form-control-feedback"> <i
												class="material-icons">error_outline</i>
											</span>
										</div>
										<div class="png-input-error">
											<div ng-show="signup.$submitted"
												 ng-messages="signup.confirmPassword.$error">
												<div ng-show=signup.confirmPassword.$error.required>{{signup.confirmPassword.errMsg}}</div>
												<div ng-show=signup.confirmPassword.$error.custom>{{signup.confirmPassword.errMsg}}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="mui-footer text-center">
									<button class="png ui basic red button"
											data-ng-click="doSignUp();" data-ng-disabled="signup.$invalid">
										<i class="icon send outline"></i>Get Started
									</button>
									<div class="ripple-container"></div>
									</a>
								</div>
							</form>
						</div>
						<div class="right_sign">
				<button class="social-signin facebook">Log in with facebook</button>
							<button class="social-signin twitter">Log in with Twitter</button>
							<button class="social-signin google">Log in with Google+</button>
						</div>
						<div class="or">OR</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>
<footer class="footer footer-big footer-color-gray" id="footerTrigger">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3">
				<div class="info add-animation-stopped animation-1">
					<h5 class="title">Company</h5>
					<nav>
						<ul>
							<li>
								<a href="#">
									Home
								</a>
							</li>
							<li>
								<a href="#">
									Find offers
								</a>
							</li>
							<li>
								<a href="#">
									Discover Projects
								</a>
							</li>
							<li>
								<a href="#">
									Our Portfolio
								</a>
							</li>
							<li>
								<a href="#">
									About Us
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1 col-sm-3">
				<div class="info add-animation-stopped animation-2">
					<h5 class="title"> Help and Support</h5>
					<nav>
						<ul>
							<li>
								<a href="#">
									Contact Us
								</a>
							</li>
							<li>
								<a href="#">
									How it works
								</a>
							</li>
							<li>
								<a href="#">
									Terms &amp; Conditions
								</a>
							</li>
							<li>
								<a href="#">
									Company Policy
								</a>
							</li>
							<li>
								<a href="#">
									Money Back
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="info add-animation-stopped animation-3">
					<h5 class="title">Latest News</h5>
					<nav>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i> <b>Get Shit Done</b>
									The best kit in the market is here, just give it a try and let us...
									<hr class="hr-small">
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
									We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-1 col-sm-3">
				<div class="info add-animation-stopped animation-4">
					<h5 class="title">Follow us on</h5>
					<nav>
						<ul>
							<li>
								<a href="#" class="btn btn-social btn-facebook btn-simple">
									<i class="fa fa-facebook-square"></i> Facebook
								</a>
							</li>
							<li>
								<a href="#" class="btn btn-social btn-dribbble btn-simple">
									<i class="fa fa-dribbble"></i> Dribbble
								</a>
							</li>
							<li>
								<a href="#" class="btn btn-social btn-twitter btn-simple">
									<i class="fa fa-twitter"></i> Twitter
								</a>
							</li>
							<li>
								<a href="#" class="btn btn-social btn-reddit btn-simple">
									<i class="fa fa-google-plus-square"></i> Google+
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<hr>
		<div class="copyright">
			Ã‚Â© 2015 Creative Tim, made with love
		</div>
	</div>
</footer>
</body>
</html>