@import "../scss/customVariables";
//@import "../scss/includes";
@import "../bower/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower/bower_components/font-awesome/scss/font-awesome";
//@import "../material-ui/assets/css/material-kit.css";


//Google font api classes
.material-icons.orangeC00 { color: #fbcc00; }
.material-icons.md-18 { font-size: 18px!important; }
.material-icons.md-24 { font-size: 24px!important; }
.material-icons.md-36 { font-size: 36px!important; }
.material-icons.md-48 { font-size: 48px!important; }


body{
  /*font-family: 'Open Sans', sans-serif;
  font-size: 16px;*/
}

.fix-to-top {
  position: fixed !important;
  margin-top: 0 !important;
  ;top: 0;
}


/*********************************************************************************/
/* Navigation Customization                                                      */
/*********************************************************************************/
$bgDefault      : rgba(78, 103, 177, 0.9);
$bgDefaultSm    : rgba(247, 71, 0, 0.6); //background for mobile devices
$bgHighlight    : rgb(173, 177, 213);
$bgHighlightSm  : rgb(0, 87, 139); //background highlight for mobile devices
$bgHighlightSm2  : rgb(139, 63, 3); //background highlight for mobile devices
$colDefault     : #000000;
$colHighlight   : #fdfdff;
$colBanner      : $colHighlight;
$streakhighlight: rgb(247,71,0);
$customMenuTheme       : true;

/*.navbar-unfix-top {
  @extend .navbar-fixed-top;
  position: relative;
}*/

.ddm {
  @if($customMenuTheme == true) {
  > .dropdown-menu {
    background-color: $bgDefault;
    display:block;
    > li > a {
      color: $colHighlight;
      padding: 5px 20px;
      box-shadow: none;
      &:hover,  &:focus {
        color: #fdfdff;;
        background-color: $bgHighlight; }}
    .divider {
      background-color: $bgHighlight;}}}}
//for larger devices
@media (min-width: 992px) {
  .navbar,.navbar-default,.navbar-default .navbar, .navbar-inverse,.navbar-default .navbar-nav {
    background-color: $bgDefault !important;
    border: 1px;
    .navbar-brand {
      > a {
        text-decoration: none;
        left: 10%;
        position: relative;
        -webkit-filter: drop-shadow(2px 1px 3px rgba(118, 135, 255, 0.98));
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
        font-family: 'Chewy', serif;
        font-size: 30px;
        color: $colBanner !important;
        text-shadow: 5px 3px 5px #171616;
      }
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    .navbar-text {
      color: $colDefault;
    }
    .navbar-nav {
      background-color: transparent !important;
      > li {
        border-top: 2px solid $bgDefault;
        border-color: transparent;
        > a {
          //border-top: 3px @streakhighlight;
          color: $colHighlight;
          &:focus {
            color: $colHighlight;
          }
          &:hover, &.open {
            color: $colHighlight;
            background-color: $bgDefault;
          }
        }
        .ddm {}
      }
      .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0.5px !important;
        display: block;
        background-color: $bgDefault;
        color: $colHighlight;
        > li > a:hover, a:focus{
          color: $colHighlight;
          background-color: $bgHighlight;
          .divider {
            background-color: $bgHighlight;
          }
        }
        a {
        color: $colHighlight;
      }
      }
      > :hover, .active {
        border-top: 2px solid $streakhighlight;
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          //background-color: @bgHighlight;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    >.open {
      >a,a:focus{
        color: $colHighlight;
        background: transparent;
        box-shadow: none;
      }
      >a,a:hover{
        color: $colHighlight;
        background: transparent;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }
    }
    > .active {
      >a, a:hover {
        color: $colHighlight;
        background: transparent;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }
    }
    .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight;
      }
      .icon-bar {
        background-color: $colDefault;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $colDefault;
    }
    .navbar-link {
      color: $colDefault;
      &:hover {
        color: $colHighlight;
      }
    }
  }

  .navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
  }
}
//for smaller devices
@media (max-width: 992px){
  .navbar-collapse.in {
    margin-bottom: 10px;
  }
  .navbar, .navbar-default, .navbar-inverse,.navbar-default .navbar-nav,
  .navbar-default .navbar-nav .open .dropdown-menu, .navbar .navbar-nav {
    border-color: transparent;
    .navbar-brand {
      > a {
        text-decoration: none;
        left: 10%;
        position: relative;
        -webkit-filter: drop-shadow(2px 1px 3px rgba(118, 135, 255, 0.98));
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=1, Color='#7687FF')";
        font-family: 'Chewy', serif;
        font-size: 20px;
        color: $colBanner !important;
        text-shadow: 5px 3px 5px #171616;
      }
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    >li,li.open {
      >a {
        color: $colHighlight;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      a:hover,a:focus {
        color: $colHighlight;
        background: $bgHighlightSm2;
      }
      > .dropdown-menu {
        background: $bgHighlightSm;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }
    }
    >.open {
      >a,a:focus,a:hover{
        color: $colHighlight;
        background: transparent;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }
    }
    > .active {
      >a, a:hover {
        color: $colHighlight;
        background: transparent;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      }
    }
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      margin-top: 0.5px !important;
    }
  }
  .navbar.navbar-transparent.navbar-default {
    background-color: $bgDefaultSm;
    box-shadow: none;
  }
  .navbar.navbar-default {
    background-color: $bgHighlightSm2;
    box-shadow: none;
    padding:0;
  }
  .navbar-nav{
    margin:0;
  }

}

/*@media (max-width: 992px) {
  .navbar, .navbar-default, .navbar-inverse {
    background-color: @bgDefault !important;
    border: 1px;
    .navbar-brand {
      > a {
        font-size: 20px;
      }
      &:hover, &:focus {
        color: @colHighlight;
      }
    }
    .navbar-text {
      color: @colDefault;
    }
    .navbar-nav {
      > li {
        border-top: 2px solid @bgDefault;
        border-color: transparent;
        > a {
          //border-top: 3px @streakhighlight;
          color: @colHighlight;
          &:focus {
            color: @colHighlight;
          }
          &.open {
            color: @colHighlight;
            background-color: @bgHighlight;
          }
        }
      }
      .dropdown .open {
        > .dropdown-menu {
          background-color: @bgDefault;
          display: block;
          > li > a {
            color: @colHighlight;
            padding: 5px 20px;
            box-shadow: none;
            &:hover, &:focus {
              color: #fdfdff;;
              background-color: @bgHighlight;
            }
          }
          .divider {
            background-color: @bgHighlight;
          }
        }
      }
      .dropdown-menu {
        opacity: 1;
        visibility: hidden;
        margin-top: 0.5px!important;
      }
      > .active {
        //border-top: 2px solid @streakhighlight;
        > a, > a:hover, > a:focus {
          color: @colHighlight;
          //background-color: @bgHighlight;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .navbar-toggle {
      border-color: @bgHighlight;
      &:focus {
        background-color: @bgHighlight;
      }
      .icon-bar {
        background-color: @colDefault;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: @colDefault;
    }
    .navbar-link {
      color: @colDefault;
      &:hover {
        color: @colHighlight;
      }
    }
  }
  .navbar-transparent {
    background-color: @streakhighlight !important;
    box-shadow: none;
  }
}*/


a.scroll-arrow, div.scroll_arrow_left, div.scroll_arrow_right, div.scroll_arrow_up, a.scroll_arrow_down{
  &:hover{
    color: $colHighlight;
    border: 2px solid $colHighlight; }

  font-size: 28px;
  color: $streakhighlight;
  width: 42px;
  border-radius: 50%;
  height: 42px;
  border: 2px solid $streakhighlight;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 1029;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .9;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
div.scroll_arrow_left {
  left: 5%;
  top: 45%;
  cursor: pointer;
}

div.scroll_arrow_right {
  top: 45%;
  left: 95%;
  cursor: pointer;
}

div.scroll_arrow_up {
  &:hover{
    border: 2px solid $streakhighlight;
    cursor: pointer;
    background-color: $streakhighlight;
    opacity: .6;
  }
  position:fixed;
  bottom: 40px;
  left: 58%;
  margin-left: 500px;
  overflow: hidden;
  z-index: 999;
}

div.scroll_arrow_left i {
  width: 100%;
  left: -6%;
  position: relative;
}

div.scroll_arrow_right i {
  width: 100%;
  left: 6%;
  position: relative;
}
div.scroll_arrow_up i {
  width: 100%;
  position: relative;
}

a.scroll_arrow_down i {
  width: 100%;
  position: relative;
}
/*********************************************************************************/
/* Image Transition Texts                                                        */
/*********************************************************************************/
.captionIntro {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 30%;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 3px 3px 10px #443333;
  font-weight: bolder;
  padding:15px;
}
.captionIntro {
  > h2 {
    font-size: 35px;
    font-family: "Slim-Joe", "Helvetica Neue", "Arial";
    font-weight: 500;
    line-height: 2.0em;
    margin: 0;
    padding-top:35px;
    padding-bottom:35px;
  }
  > h3 {
    font-size: 25px;
    font-family: "Slim-Joe", "Helvetica Neue", "Arial";
    font-weight: 500;
    margin: 0;
    padding:0;
  }
}
@media (max-width: 992px) {
  .captionIntro {
    top: 30%;
  }
  .captionIntro {
    > h2 {
      font-size: 18px;
      line-height: 2.0em;
      font-family: "Handlee", cursive;
    }
    > h3 {
      font-size: 15px;
      line-height: 1.5em;
      font-family: "Coda", cursive;
    }
  }

}

/*********************************************************************************/
/* Logo Customization                                                            */
/*********************************************************************************/

.banner-logo {
  position: absolute;
  top: 80%;
  left: 3%;
  width: 150px;
}
.banner-logo img{
  max-width: 100%;
}

/*********************************************************************************/
/* Property Customization                                                        */
/*********************************************************************************/
@media (min-width: 992px) {
  .main-raised.png.add-animation {
    transform: translate3D(0px, 50px, 0px);
    -webkit-transform: translate3D(0px, 50px, 0px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
  }
}

.main-raised.png.add-animation {
  -webkit-transition: all 0.3s ease-out 0.3s;
  -moz-transition: all 0.3s ease-out 0.3s;
  -o-transition: all 0.3s ease-out 0.3s;
  -ms-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
}

.main-raised.png.add-animation.animate {
  transform: translate3D(0px, 0px, 0px);
  -webkit-transform: translate3D(0px, 0px, 0px);
  opacity: 1;
}

.main-raised.png{
  margin-top: 10px;
}

@media (min-width: 992px) {
  .main.png.add-animation {
    transform: translate3D(0px, 50px, 0px);
    -webkit-transform: translate3D(0px, 50px, 0px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
  }
}

.main.png.add-animation {
  -webkit-transition: all 0.3s ease-out 0.3s;
  -moz-transition: all 0.3s ease-out 0.3s;
  -o-transition: all 0.3s ease-out 0.3s;
  -ms-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
}

.main.png.add-animation.animate {
  transform: translate3D(0px, 0px, 0px);
  -webkit-transform: translate3D(0px, 0px, 0px);
  opacity: 1;
}

.main.png{
  margin-top: 10px;
}


.png >.property-title{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: x-large;
  text-align: center;
}

.png > .title {
  @extend .title;
  margin-bottom: 0px;
}
/*********************************************************************************/
/* General Customization                                                         */
/*********************************************************************************/
.png-map-marker{
  @extend .fa-map-marker;
  vertical-align: baseline;
}
.png-extra-content{
  line-height: 40px;
  text-align: left;
}
.png.ui.basic.blue.button:hover, .png.ui.basic.blue.buttons .button:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.18), 0 4px 10px rgba(0, 0, 0, 0.36), 0 0 0 1px #1678c2 inset !important;
}
.png.ui.items>.item>.image:not(.ui){
  width:24em;
}
.png.ui.items>.item>.content>.description{
  //min-height:6.5em;
  margin-bottom: 0;
}
//for smaller devices centre right floated elements
@media (max-width: 992px) {
  .png.ui.items > .item .extra > [class*="right floated"] {
    margin: .25rem .5rem .25rem 0;
    //float: none;
  }
}
.png.ui.items>.item .extra>.feature-icon{
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-image: none;
  padding: .5833em .833em;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.datepicker-footer {
  text-align: center;
}

.png-input-error {
  display: block;
  min-height: 20px;
  font-size: x-small;
  color: red;
}

/*Modal window styles*/
.modal-content .modalheader{
  height: 10%;
 /* background-color: #2678a3;
  color: #fff; */
  padding: 5px 10px;
}

.modal-content .modaltitle{
  margin: 5px;
}

.modal-content .modalbody{
  margin: 5px 15px;
}

.modal-content .form-btn-components{
  text-align: center;
  padding: 25px;
}

.form-btn-components .btnCancel:hover {
  color: #fff;
}

.common-modal h4.modal-title {
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
}

.png-room.ui.fluid.image {
  vertical-align: middle;
  width: 31%;
  background-color: transparent;
}
/*customization for booking*/

.ui.header.png-detailed-header {
	display: flex;
	padding-right: 1em;
}
.png-detailed-header > .png-header-label {
    color: #665c5c;
    padding-left: 1.5em;
    padding-right: 0.5em;
    display:flex;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    font-weight: bold;
    line-height: 1.6em;
    text-transform: none;
 }
 .png-detailed-header > .png-header-value {
    color: #ef4500;
    padding-right: 0.5em;
    display:flex;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    line-height: 1.6em;
    text-transform: none;
 }
 .item >.content >.description{
 	margin-bottom: 1.0em;
 }
 
 .ui.divider.list-end {
 	margin: 0.0em;
 }
 
 .ui.grid > .booking-line-item {
 	line-height: 2.0;
 	font-size: 1.2em;  	
 }
 

